# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
rag_env/

# IDE
.vscode/
.idea/

# Environment
.env

# Data
data/raw/

# Evaluation results
evaluation_results.json

# OS
.DS_Store
**/.DS_Store

# Docker
docker-compose.override.yml